@font-face {
  font-family: "Stick Light";
  src: url(fonts/JGJ\ Roman\ Rustic\ Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* COLORS */
  --text: #100c07;
  --light-brown: #988871;
  --dark-brown: #857660;
  --secondary: #8ca2b2;
  /* EFFECTS */
  --box-shawdow: 0px 1px black;
}

html {
  background-image: url(images/brick\ wall.jpg);
  background-size: cover;
}

.screen {
  align-items: center;
  border-radius: 20px;
  color: var(--text);
  display: flex;
  flex-flow: column;
  font-family: "Stick Light", serif;
  gap: 10%;
  height: 100vh;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 500px;
  width: 100%;
}

header {
  background-color: var(--light-brown);
  border-radius: 15px;
  border: 20px solid var(--dark-brown);
  box-shadow: var(--box-shawdow);
  font-weight: bolder;
  padding: 5%;
  text-align: center;
  width: 100%;
}

.input-container {
  align-items: center;
  background-color: var(--light-brown);
  border-radius: 15px;
  border: 20px solid var(--dark-brown);
  box-shadow: var(--box-shawdow);
  display: flex;
  flex-direction: column;
  gap: 5%;
  height: 20%;
  justify-content: center;
  padding: 5%;
  width: 100%;
}

input,
button {
  background-color: var(--secondary);
  border-radius: 10px;
  border: none;
  color: var(--text);
  display: block;
  font-family: inherit;
}

input {
  box-shadow: var(--box-shawdow);
  padding: 1%;
  width: 90%;
  margin-bottom: 1%;
  font-size: 1.25rem;
}

button {
  box-shadow: var(--box-shawdow);
  padding: 1%;
  text-align: center;
  width: 35%;
}

button:hover,
button:focus {
  transform: scale(1.1);
}

button:active {
  box-shadow: none;
}

.output-container {
  align-items: center;
  background-color: var(--light-brown);
  border-radius: 15px;
  border: 20px solid var(--dark-brown);
  display: flex;
  height: 25%;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  width: 100%;
}

#output {
  color: var(--text);
  font-size: 1.5rem;
  padding: 2%;
  text-wrap: wrap;
  vertical-align: center;
}
